{% extends "layout.html" %}
{% block page_content %}

    <div class="row">
        <div class="col text-center">
            <h3>ADD A MOVIE</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <form action="/add-movie" method="POST">
                <p>Title: <input class="form-control" type="text" name="name"></p>
                <p>Directed by: <input class="form-control" type="text" name="director"></p>
                <p>Written by: <input class="form-control" type="text" name="screenwriter"></p>
                <p>Cast: <input class="form-control" type="text" name="cast"></p>
                <p>Year: <input class="form-control" type="number" name="year"></p>
                <p>Synopsis: <textarea class="form-control" type="number" name="description"></textarea></p>
                
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <div class="row">
                    <div class="col text-center">
                        <input class="btn btn-primary" type="submit" value="Add">
                    </div>
                </div>

            </form>
        </div>
    </div>

    {% endblock %}