{% extends "layout.html" %}
{% block page_content %}

    <h2>ADD A MOVIE</h2>
    {% include "flashed_messages.html" %}
    <br>
    <form action="/movie-added" method="POST">
        <p>Title: <input type="text" name="name"></p>
        <p>Directed by: <input type="text" name="director"></p>
        <p>Written by: <input type="text" name="screenwriter"></p>
        <p>Cast: <input type="text" name="cast"></p>
        <p>Year: <input type="number" name="year"></p>
        <p>Synopsis: <textarea type="number" name="description"></textarea></p>
        <br>
        <input type="submit" value="Add">
    </form>
    <br>

    {% endblock %}