{% extends "head.html" %}
    {% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light d-flex align-items-center mb-5">
          <a class="navbar-brand font-weight-bold" href="/">Movie Rating App</a>
            <ul class="navbar-nav">
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href= "{{ url_for('profile', username=session.username) }}">{{ session.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href= "/add-movie">Add a Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>

        {% include "flashed_messages.html" %}
        <div class="container">

            {% block page_content %}{% endblock %}
 
        </div>

        <hr>

{% endblock %}

