{% extends "head.html" %}
    {% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Movie Rating App</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/">Home</a>
        </div>
        <div class="col">
            <a href= "{{ url_for('profile', username=session.username) }}">{{ session.username }}</a>
        </div>
        <div class="col text-center">
            <a href= "/add-movie">Add a Movie</a>
        </div>
        <div class="col text-center">
            <a href="/logout">Log Out</a>
        </div>
    </div>

        <hr>
        {% include "flashed_messages.html" %}
        {% block page_content %}{% endblock %}
        <hr>

{% endblock %}

