{% extends "layout.html" %}
    {% block page_content %}
        <h2>MOVIES</h2>
        <ul>
            {% for movie in movies %}
                <h3><a href="{{ url_for('movie', id=movie.id) }}"> {{ movie.name }}</a></h3>
                {% if get_average_rating(movie.id) %}
                    <p> Average Rating: {{ get_average_rating(movie.id) }}</p>
                {% else %}
                    <p>No reviews yet</p>
                {% endif %}
                
            {% endfor %}
        </ul>
        
    {% endblock %}