{% extends "layout.html" %}
{% block page_content %}

<div class="row my-4">
    {% if has_been_seen %}
        <div class="text-left">
            <form action="{{ url_for('unmark_as_seen', movie_id=movie.id) }}" method="POST">
                <input type="submit" class="btn btn-danger btn-sm" value="Unmark as Seen" />
            </form>
        </div>
    {% elif is_in_watch_later_list %}
        <div class=" col text-left">
            <form action="{{ url_for('add_movie_to_seen_list', movie_id=movie.id) }}" method="POST">
                <input type="submit" class="btn btn-primary btn-sm" value="Mark Movie as Seen" />
            </form>
        </div>
        <div class="col text-right">
            <form action="{{ url_for('remove_from_watch_later', movie_id=movie.id) }}" method="POST">
                <input type="submit" class="btn btn-danger btn-sm" value="Remove from Watch Later List" />
            </form>
        </div>

    {% else %}
        <div class="col text-left">
            <form action="{{ url_for('add_movie_to_seen_list', movie_id=movie.id) }}" method="POST">
                <input type="submit" class="btn btn-primary btn-sm" value="Mark Movie as Seen" />
            </form>
        </div>
        <div class="col text-right">
            <form action="{{ url_for('add_to_watch_later', movie_id=movie.id) }}" method="POST">
                <input type="submit" class="btn btn-primary btn-sm" value="Watch Later" />
            </form>
        </div>
    {% endif %}
</div>

    <div class="row my-4">
        <div class="col text-center">
            <h2>{{ movie.name }}, {{movie.year}}</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold">Director:</p>
            <p> {{ movie.director }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold">Written by:</p>
            <p>{{ movie.screenwriter }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold">Cast:</p>
            <p>{{ movie.cast_members }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold">Synopsis:</p>
            <p>{{ movie.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center my-4">
            <h3>Add a review:</h3>
        </div>
    </div>

    <form action="{{ url_for('add_review', movie_id=movie.id) }}" method="POST">
        <div class="row">
            <div class="col-2 text-center">
                <p>Stars:</p>
            </div>
            <div class="col-2 text-center">
                <select class="form-select" type="number" name="stars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-center">
                <p>Review:</p>
            </div>
            <div class="col">
                <textarea class="form-control" type="text" name="review"></textarea>
            </div>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="row">
            <div class="col text-center my-4">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </div>
    </form>

    {% if reviews %}
        <div class="row">
            <div class="col text-center">
                <h3>Average rating: {{ get_average_rating(movie.id) }}</h3>
            </div>
        </div>

        {% include "review_list.html" %}

    {% else %}
        <br>
        <h3>No reviews yet</h3>
    {% endif %}

    <div class="row">
        <div class="col text-center mt-5">
            <p>This movie was added to the database by <a href="{{ url_for('profile', username=user.username) }}">{{ user.username }}</a></p>
        </div>
    </div>

    {% if session.id == user.id %}
    <form action="{{ url_for('delete_movie', id=movie.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete movie" />
    </form>
    {% endif %}

{% endblock %}