{% extends "layout.html" %}
{% block page_content %}
    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            <h1>{{ user.username }}</h1>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            {% if user.description %}
                <h5 class="text-bold">Description:</h5>
                <p>{{ user.description }}</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit description
                      </button>
                    <div class="dropdown-menu">
                        <form action="/add-description", method="POST">
                            <label class="form-label">Add a description</label>
                            <textarea type="text" name="description" class="form-control"></textarea>
                            <input type="hidden" name="username" value="{{ user.username }}" />

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <button type="submit" class="btn btn-primary mt-3">Add</button>
                        </form>
                    </div>
                </div>
            {% elif user.username == session.username %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add a description
                  </button>
                <div class="dropdown-menu">
                    <form action="/add-description", method="POST">
                        <label class="form-label">Add a description</label>
                        <textarea type="text" name="description" class="form-control"></textarea>
                        <input type="hidden" name="username" value="{{ user.username}}" />
                        
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <button type="submit" class="btn btn-primary mt-3">Add</button>
                    </form>
                </div>
            </div>
                
            {% endif %}

        </div>
    </div>



    <div class="row d-flex justify-content-center">
        {% if reviewCount > 0 %}
            <div class="col text-center">
                {% include "review_list.html" %}
            </div>
        {% endif %}
        <div class="col my-4 ml-3 text-center">
            <h5> Movies Marked as Seen:</h5>
            {% if moviesSeenCount > 0 %}
                {% for m in moviesSeenList %}
                        <p><a href="{{ url_for('movie', id=m.movie_id) }}">{{ get_movie(m.movie_id).name }}, {{ get_movie(m.movie_id).year }}</a></p>
                {% endfor %}
            {% else %}
                <p>No movies yet</p>
            {% endif %}

            <h5 class="mt-5">Watch Later List:</h5>
            {% if watchLaterCount > 0 %}
                {% for m in watchLaterList %}
                    <p><a href="{{ url_for('movie', id=m.movie_id) }}">{{ get_movie(m.movie_id).name }}, {{ get_movie(m.movie_id).year }}</a></p>
                {% endfor %}
            {% else %}
                <p>No movies yet</p>
            {% endif %}
        </div>
    </div>


{% endblock %}