{% extends "layout.html" %}
{% block page_content %}
    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            <h1>{{ user.username }}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
            {% if reviewCount > 0 %}
                {% include "review_list.html" %}
            {% endif %}
        </div>
        <div class="col my-4 ml-3">
            <h5> Movies Marked as Seen:</h5>
            {% if moviesSeenCount > 0 %}
                {% for m in moviesSeenList %}
                        <p><a href="{{ url_for('movie', id=m.movie_id) }}">{{ get_movie(m.movie_id).name }}, {{ get_movie(m.movie_id).year }}</a></p>
                {% endfor %}
            {% else %}
                <p>No movies yet</p>
            {% endif %}

            <h5 class="mt-5">Watch Later List:</h5>
            {% if watchLaterCount > 0 %}
                {% for m in watchLaterList %}
                    <p><a href="{{ url_for('movie', id=m.movie_id) }}">{{ get_movie(m.movie_id).name }}, {{ get_movie(m.movie_id).year }}</a></p>
                {% endfor %}
            {% else %}
                <p>No movies yet</p>
            {% endif %}
        </div>
    </div>

{% endblock %}