{% extends "head.html" %}
    {% block body %}

    {% include "flashed_messages.html" %}

    <div class="row">
        <div class="col text-center mt-5">
            <h2>REGISTER</h2>
        </div>
    </div>

    <br>
    <form action="/register" method="POST">
        <div class="row justify-content-center">
            <div class="col-6 text-left">
                <p>Username: <input class="form-control" type="text" name="username"></p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 text-left">
                <p>Password: <input class="form-control" type="password" name="password"></p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 text-left">
                <p>Repeat Password: <input class="form-control" type="password" name="password2"></p>
            </div>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="row justify-content-center">
            <div class="col text-center">
                <input class="btn btn-primary" type="submit" value="Create an account">
            </div>
        </div>
    </form>
    
    <div class="row justify-content-center">
        <div class="col text-center mt-3">
            <a href="/">Already have an account? Log in!</a>
        </div>
    </div>

{% endblock %}